body{
    margin: 0;
    color: #373737;
    background-color: #eeeeee;
    font-family: Consolas;
    font-style: italic;
}
*{
    margin: 0;
}
a{
    text-decoration: none;
    color: blue;
}
ul,li,tr,td,th{
    margin: 0;
    list-style-type:none;
    padding: 0 1px;
}
table{
    width: 100%;
    padding: 0;
    border-collapse:collapse;
}

input, select {
    padding: 1px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}





.hidden{
    display: none;
}
.container-m{
    margin: 0 15%;
}
.container-p{
    padding: 0 15%;
}

.content{
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /*margin: 50px;*/
    padding: 50px;
}
.content-header,
.content-footer{
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    padding: 10px;
    min-height: 200px;
    font-size: 16px;
}
.content-body{
    padding: 10px;
    min-height: 600px;
    font-size: 16px;
}


.row{
    display:block;
}
.row .col{
    display: inline-block;
}
.row .col *:not(input){
    padding: 0;
}
.row .right{
    float: right;
}

.row .col-6{
    padding: 5px;
    display: inline-block;
    width: calc(60% - 20px);
}
.row .col-4{
    padding: 5px;
    display: inline-block;
    width: calc(40% - 20px);
}
.row .col-5{
    padding: 5px;
    display: inline-block;
    width: calc(50% - 20px);
}
.row .col-10{
    padding: 5px;
    display: inline-block;
    width: 100%;
}

.txt-1,
.txt-1 *{
    font-size: 18px;
}
.txt-2,
.txt-2 *{
    font-size: 20px;
}

.txt-right{
    text-align: right;
}
.txt-left{
    text-align: left;
}
.txt-center{
    text-align: center;
}

.card{
    padding: 20px;
}
.card-header{
    text-align: center;
    padding: 10px;
    color: white;
    background-color: #9d9d9d;
}
.card-body{
    padding: 20px 10px;
    border: 1px solid #ccc;
}
.card-body *{
    padding: 10px 10px;
}

.card-body button{
    border: 1px solid #ccc;
    background-color: #5aa661;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

    animation-name: fadeIn;
    animation-duration: 0.8s
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
}

@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}


@media screen and (max-width: 1366px) {
    .disp-1366{
        display: block;
    }
    .container-p{
        padding: 0 10%;
    }
}
@media screen and (max-width: 1024px) {
    .disp-1024{
        display: block;
    }
    .container-p{
        padding: 0 5%;
    }
    .content{
        padding: 25px;
    }
}
@media screen and (max-width: 900px) {
    .disp-900{
        display: block;
    }

}
@media screen and (max-width: 740px) {
    .disp-740{
        display: block;
    }
    .container-p{
        padding: 0 2%;
    }
    .content{
        padding: 5px;
    }
    .row .col-4,
    .row .col-6{
        display: block;
    }
}
